.welcome-user {
  color: white;
  font-size: 14px;
  padding-top: 10px;
}

.nav-item {
  padding: 0 10px;
}

.edi-format {
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
}

.my-orders {
  margin-top: 8px;
}

.well {
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 0 20px 30px;

  h4 {
    font-size: 14px;
    padding: 10px 0 0;
  }
}
